
@{
    ViewBag.Title = "Email_Verification";
    Layout = null;
}


<h2>Thank you for Signup.</h2>
<h1>Please verify the email address via clicking on the link we sent you via email.</h1>
<div class="alert-success">
    <strong>Message:</strong>@ViewBag.Message
</div>