
@{
    ViewBag.Title = "FAQ";
    Layout = null;
}



<div class="user-profile-image">

    <img src="~/Images/User-Profile/banner-with-overlay.jpg">
    <div class="user">
        <h2>Frequently Asked Questions</h2>
    </div>
</div>
<div class="container">

    <div class="accordion">
        <h3>General Questions</h3>

        <div class="accordion-item" id="question1">

            <a class="accordion-link" href="#question1">
                What is Marketplace-Notes?
                <i class="fa fa-plus"></i>
                <i class="fa fa-minus"></i>
            </a>

            <div class="answer"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, ex reprehenderit magnam optio placeat excepturi pariatur quo eum, quis molestias laboriosam libero eligendi odit,</p></div>
        </div>

        <div class="accordion-item" id="question2">

            <a class="accordion-link" href="#question2">
                What do the University say?
                <i class="fa fa-plus"></i>
                <i class="fa fa-minus"></i>
            </a>

            <div class="answer"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, ex reprehenderit magnam optio placeat excepturi pariatur quo eum, quis molestias laboriosam libero eligendi odit, </p></div>
        </div>

        <div class="accordion-item" id="question3">

            <a class="accordion-link" href="#question3">
                Is this legal?
                <i class="fa fa-plus"></i>
                <i class="fa fa-minus"></i>
            </a>

            <div class="answer"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, ex reprehenderit magnam optio placeat excepturi pariatur quo eum, quis molestias laboriosam libero eligendi odit,</p></div>
        </div>
    </div>

    <div class="accordion">
        <h2>Uploaders</h2>

        <div class="accordion-item" id="question4">

            <a class="accordion-link" href="#question4">
                What can't I sell?
                <i class="fa fa-plus"></i>
                <i class="fa fa-minus"></i>
            </a>

            <div class="answer"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, ex reprehenderit magnam optio placeat excepturi pariatur quo eum, quis molestias laboriosam libero eligendi odit, </p></div>
        </div>

        <div class="accordion-item" id="question5">

            <a class="accordion-link" href="#question5">
                What notes can i sell?
                <i class="fa fa-plus"></i>
                <i class="fa fa-minus"></i>
            </a>

            <div class="answer"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, ex reprehenderit magnam optio placeat excepturi pariatur quo eum, quis molestias laboriosam libero eligendi odit, </p></div>
        </div>


    </div>

    <div class="accordion">
        <h1>Downloaders</h1>

        <div class="accordion-item" id="question6">

            <a class="accordion-link" href="#question6">
                How do i buy notes?
                <i class="fa fa-plus"></i>
                <i class="fa fa-minus"></i>
            </a>

            <div class="answer"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, ex reprehenderit magnam optio placeat excepturi pariatur quo eum, quis molestias laboriosam libero eligendi odit, </p></div>
        </div>

        <div class="accordion-item" id="question7">

            <a class="accordion-link" href="#question7">
                Can i edit the notes i purchased?
                <i class="fa fa-plus"></i>
                <i class="fa fa-minus"></i>
            </a>

            <div class="answer"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, ex reprehenderit magnam optio placeat excepturi pariatur quo eum, quis molestias laboriosam libero eligendi odit, </p></div>
        </div>


    </div>
</div>

